<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Smeetrue</title>
    <meta name="google-signin-client_id" content="414524429120-luneb60d6lof9ebf5j97qqqo6u5it3o1.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="../../fontawesome/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="../css/responsive.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/calendar.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="../js/calenadr-vue.js" defer></script>
</head>
<body style="font-family:'Source Sans Pro', sans-serif">
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-book-open fa-2x"></i></div>            
                <h1 class="text-center"style="font-family:'Source Sans Pro', sans-serif">Smeetrue</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item"><a href="index.html" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Home
                    </a></li>
                    <li class="tm-nav-item active"><a href="calendar.html" class="tm-nav-link">
                        <i class="fas fa-calendar-plus"></i>
                        Calendar
                    </a></li>
                    <li class="tm-nav-item"><a href="mymeeting.html" class="tm-nav-link">
                        <i class="fas fa-calendar"></i>
                        My Meeting
                    </a></li>
                    <li class="tm-nav-item"><a href="myprofile.html" class="tm-nav-link">
                        <i class="fas fa-user"></i>
                        My Profile
                    </a></li>
                    
                </ul>
            </nav>
            
           
            </p>
            <button onclick="signOut()" id="sign-out-button">Sign Out</button>
        </div>
    </header>


    <div id="calendar" style="margin-right: 10%;margin-left: 10%;">
        <div id='fullDiv' v-if="isShowCalendar">
            <div class="calendar-month">
                <i class="fas fa-angle-left prev" @click="decMonth()"></i>
                <div>
                    <h1 style="font-family:'Source Sans Pro', sans-serif">{{ monthName }}</h1>
                    <h2 style="font-family:'Source Sans Pro', sans-serif">2022</h2>
                </div>
                <i class="fas fa-angle-right next" @click="addMonth()"></i>
            </div>
            
            <ul>
                <li class="calendar-date">SUN</li>
                <li class="calendar-date">MON</li>
                <li class="calendar-date">TUE</li>
                <li class="calendar-date">WED</li>
                <li class="calendar-date">THUR</li>
                <li class="calendar-date">FRI</li>
                <li class="calendar-date">SAT</li> 
                <li class="calendar-date" v-for="(date, index) in preDatesList" ></li>
                <li class="calendar-date-active" @click="onDateClick(index)" v-for="(date, index) in datesList" >{{ date }}</li>
                <li class="calendar-date" v-for="(date, index) in postDatesList" ></li>
            </ul>
        </div>

        <div class="calendar-time-table" v-if="isShowDateInfo" >
            <table style="height: 75%;  margin-right:2%;margin-top: 8%;">
                <tr>
                  <td>&nbsp;</td>
                  <td style="font-size:23px">&nbsp;&nbsp;9:00~</br>10:00 </td>
                  <td style="font-size:23px">10:00~</br>11:00 </td>
                  <td style="font-size:23px">11:00~</br>12:00 </td>
                  <td style="font-size:23px">12:00~</br>13:00 </td>
                  <td style="font-size:23px">13:00~</br>14:00 </td>
                  <td style="font-size:23px">14:00~</br>15:00 </td>
                  <td style="font-size:23px">15:00~</br>16:00 </td>
                  <td style="font-size:23px">16:00~</br>17:00 </td>
                  <td style="font-size:23px">17:00~</br>18:00 </td>
                </tr>
                <tr>
                  <th style="font-size:22px">RoomA</th>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="background-color: saddlebrown;"></td>
                  <td style="background-color: saddlebrown;">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <th style="font-size:22px">RoomB</th>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="background-color: saddlebrown;">&nbsp;</td>
                  <td style="background-color: saddlebrown;">&nbsp;</td>
                  <td style="background-color: saddlebrown;">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <th style="font-size:22px">RoomC</th>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="background-color: saddlebrown;">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <th style="font-size:22px">RoomD</th>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                    <th style="font-size:22px">RoomE</th>
                    <td style="background-color: saddlebrown;">&nbsp;</td>
                    <td style="background-color: saddlebrown;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
            </table>
            <button class="calendar-button" @click="changeState(2)" style="height:60px;width: 150px;margin-top: 2%;margin-left: 118%;">Book!</button>
        </div>

        <!-- <div class="calendar-pop-up-screen" v-if="isShowDateInfo">
            <i class="fas fa-angle-left prev" @click="showCalendar" style="cursor: pointer;"></i>
            <h1 style="text-align: center;">12/27(Mon)</h1>
            <ul>
                <li style="text-align: center;">10:00~11:00 RoomA (Team1)</li>
                <li style="text-align: center;">11:00~12:00 RoomA (Team2)</li>
                <li style="text-align: center;">11:00~12:00 RoomB (Team3)</li>
                <li style="text-align: center;">13:00~14:00 RoomC (Team1)</li>
                <li style="text-align: center;">15:00~17:00 RoomB (Team1)</li>
                <li style="text-align: center;">16:00~17:00 RoomA (Team2)</li>
            </ul>
            <button @click="changeState(2)">Back</button>
        </div> -->

        <div class="container-fluid" id = "calendar-booking-page" v-if="isShowRoomView" style="margin-left: 10%;margin-right: 10%;margin-top: 2%;margin-bottom: 5%;">
            <div class="w3ls-contact">
                <!-- form starts here -->
               
                <form action="" method="post" onsubmit="return false">
                    <div class="agile-field-txt">
                        <label>
                        Host:</label>
                        <input type="text" name="name" placeholder=" " />
                    </div>
                    <div class="agile-field-txt">
                        <label>
                        Name:</label>
                        <input type="text" name="name" placeholder=" " />
                    </div>
                    <div class="agile-field-txt">
                        <label>
                        Time :</label>
                        <div class="mr_agilemain">
                        <div class="left-wthree">
                            <select>
                                <option value ="9">9:00</option>
                                <option value ="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value ="13">13:00</option>
                                <option value ="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                              </select>
                            <label class="bot_w3">
                            Start Time</label>
                        </div>
                        <div class="left-wthree">
                            <select>
                                <option value ="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value ="13">13:00</option>
                                <option value ="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                              </select>
                            <label class="bot_w3">
                            End Time</label>
                        </div>
                        </div>
                    </div>
                    <div class="agile-field-txt">
                        <label>
                        Attendee:</label>
                       
                        <input type="text" name="name" placeholder="Input the invitee email" v-model="inputInvitee;style=" style="width:335px; height:50px;margin-left: 1px;" />
                        <button style="float:right;width: 49px;height: 49px;margin-left: 1%;" class="form-button" @click="addNewInvitee();">+</button>
                    </div>

                    <div style="width: 100%;">
                        
                        <label>Total Participants: {{invitees.length}}</label>
                    </div>

                    <div style="width: 550px;height: 200px; overflow-x:hidden;">
                        <p v-for="(invitee, index) in invitees"> {{invitee}} <button style="float:right;margin-top:1%;margin-right: 1%;width: 38px;height: 33px;line-height: 0px;" class="form-button" @click="removeInvitee(index)">—</button></p>
                    </div>
                    
                    
                    <div style="text-align: right; width: 100%;margin-top: 50px;">
                        <button class="calendar-button" style="line-height: 30px;" >Book</button>
                        <button class="calendar-button" style="margin-left: 12px;background-color:rgb(255, 62, 62); line-height: 30px;" @click="changeState(1)">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    
    
    

    <script src="../js/googleapi.js"></script>
</body>
</html>