<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="414524429120-luneb60d6lof9ebf5j97qqqo6u5it3o1.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="js/googleapi.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    <title>Document</title>
</head>


<body>
    <div id='fullDiv' style="height: 68%;margin-left: 0%;margin-right: 26%;">
       
    <h1 style="margin-left: 78px;font-size: 2.7rem;">Please login before using our service!</h1>
        <h1 style="font-size: 7rem;color: rgb(187, 33, 33);margin-top:20%;margin-bottom: -15%;margin-left:29%;">
            &#11177;
        </h1>
    <div class="g-signin2" data-onsuccess="onSignIn" style="margin-left:41.5% ;margin-top: 10%;width: 150%;height: 50%;"></div>
    
    <a href="/" style="margin-left: 38%;font-size: 1.5rem;">Back to main menu</a>
    <div>
</body>



</html>

<script>
    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/login");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = function () {
            console.log("Signed in as: " + xhr.responseText);
            if (xhr.responseText === "success") {
            signOut();
            location.assign("/myprofile");
            }
        };
        xhr.send(JSON.stringify({ token: id_token }));
}
</script>